.navigation{
    float: right;
    height: 100%;
}
 
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: #101010;
}
 
.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover{
    background-color: gray;
    color: #101010;
}

.header {
    background-color: #101010;
}

div h1 {
    color: white
}

div .logo-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

div .content {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

div .image {
    float: left;
    margin: 0 1em 1em 0;
}



